.nav_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--primary-dark-violet);
  color: #fff;
  width: 74vw;
  border-radius: 8px;
}

.nav_container > ul > li {
  font-family: Poppins;
  margin: 2rem 0;
  text-align: center;
}

.nav_container > ul > hr {
  border: 1px solid var(--neutral-gray);
  width: 300px;
  height: 1px;
}

.nav_container > ul > li:last-child {
  background-color: var(--primary-cyan);
  padding: 1rem .5rem;
  border-radius: 100px;
}

@media screen and (min-width: 1200px) {

  .nav_container {
    background-color: #fff;
    color: var(--neutral-dark-violet);
  }

  .nav_container > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  
  .nav_container > ul > hr {
    display: none;
  }
}